<html>
<form method="POST" action="/where">
    <label for="id">id:</label><br>
    <input type="text" id="id" name="id"><br>

    <label for="Designação">Designação:</label><br>
    <input type="text" id="Designação" name="Designação"><br>

    <label for="quantidade disponível">Quantidade disponível:</label><br>
    <input type="text" id="Quantidade disponível" name="Quantidade disponível"><br>

    <label for="Fornecedor">Fornecedor:</label><br>
    <input type="text" id="Fornecedor" name="Fornecedor"><br>

    <label for="Imagem">Link da Imagem:</label><br>
    <input type="text" id="Imagem" name="Imagem"><br>

    <input type="submit" value="Submit">
</form>

</html>